{% extends 'base.html' %}
{% load static %}

{% block title %}Registrar | Sistema de Agendamento{% endblock %}


{% block content %}
<div class="flex flex-col justify-center items-start flex-grow ">
        <form method="POST" class="w-full max-w-md">
            {% csrf_token %}
            <h4 class="text-white text-heading-h4 -mb-4 text-start">BEM-VINDO!</h4>
            <h3 class="text-white text-heading-h2 mb-5 text-start">Crie sua conta para acessar o sistema.</h3>
            
            <!--Campo para nome-->
            <div class="text-white mb-3">
              {{ form.username }}
            </div>

            <!--Campo para email-->
            <div class="text-white mb-3">
              {{ form.email }}
            </div>

            <!--Campo para senha-->
            <div class="text-white mb-3">
              {{ form.password1 }}
            </div>

            <!--Campo para confirmar senha-->
            <div class="text-white mb-5">
              {{ form.password2 }}
            </div>

            <button class="bg-blue-800 w-11/12 h-12 rounded-md mb-6 hover:bg-blue-700 transition-colors text-white" type="submit">
                Registrar
            </button>

            {% if messages %}
            <ul class="w-11/12 text-center text-sm text-red-400 mt-2">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <p class="w-11/12 text-center text-sm text-white mt-4">
                Já tem uma conta?
                <a href="{% url 'login' %}" class="text-blue-600 hover:text-blue-400 hover:underline transition-colors duration-200">Entrar</a>
            </p>
        </form>
    </div>
{% endblock %}