{% extends 'admin/base_admin.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Página Inicial | Admin{% endblock %}

{% block content %}

<div class="w-full ">
    <div class="content-center-space"
        style="min-height: calc(100vh - 25rem - 96px); display:flex; align-items:start; justify-content:center; flex-direction:column; padding:1rem 0;">
        <h2 class="-mb-1 text-heading-h3">Agendamentos</h2>
        <p class="-mt-1 text-heading-h5">Consulte aqui todos os agendamentos do sistema!</p>
    </div>

    <!-- painel fixo no fim da página com altura específica (ajuste h-96 conforme necessário) -->
    <div id="agendamentosPanel" class="fixed left-0 right-0 bottom-0 px-20 z-40">
        <div class="mx-auto w-full bg-blue-0 rounded-t-xl shadow-xl flex flex-col overflow-hidden"
            style=" height:28rem; ">
            <!-- barra de pesquisa / filtro / botão: não rola -->
            <div class="px-4 py-3 flex items-center gap-4 flex-none">
                <form class="flex w-full items-center justify-between" method="get" >
                    <div class="relative w-3/4">
                        <span class="absolute left-3 top-1/2 -translate-y-1/2 w-4 h-4 bg-current opacity-30 mask-busca text-darkBlue-900"></span>
                        <input type="text" name="busca" value="{{ busca }}" placeholder="Pesquisar Agendamentos"
                            class="bg-white rounded-md pl-9 pr-3 py-1 w-full text-darkBlue-900 focus:outline-none">
                    </div>
                    <div class="flex items-center ml-4 relative">
                        <span class="absolute left-3 top-1/2 -translate-y-1/2 w-4 h-4 bg-current mask-filtro text-darkBlue-900"></span>

                        <select id="ordenar_por" name="ordenar_por" onchange="this.form.submit()" class="appearance-none bg-white rounded-md pl-9 pr-2 py-1">
                            <option disabled selected hidden>Filtrar</option>
                            <option value="nome" {% if ordenar_por == 'nome' %}selected{% endif %}>Nome</option>
                            <option value="data" {% if ordenar_por == 'data' %}selected{% endif %}>Data</option>
                            <option value="sala" {% if ordenar_por == 'sala' %}selected{% endif %}>Sala</option>
                            <option value="criador" {% if ordenar_por == 'criador' %}selected{% endif %}>Criador</option>
                            <option value="codigo_agendamento" {% if ordenar_por == 'codigo_agendamento' %}selected{% endif %}>ID</option>
                            </select>
                        {% if ordenar_por %}
                            <a id="limparFiltro"
                               class="ml-2 px-3 py-1 bg-gray-200 text-gray-800 rounded-md hover:bg-gray-300 transition-colors duration-200"
                               href="?{% if busca %}busca={{ busca|urlencode }}{% endif %}">
                                Limpar 
                            </a>
                        {% endif %}
                        <button type="button" id="abrirModal"
                                class="flex items-center gap-2 ml-3 px-3 py-1 bg-blue-900 text-white rounded-md hover:bg-blue-700 transition-colors duration-200">
                            <span class="w-4 h-4 bg-current mask-add"></span>
                            Nova Reunião
                        </button>
                    </div>
                </form>
            </div>

            <!-- container da tabela com scroll interno -->
            <div class="flex-1 bg-white  overflow-hidden rounded-t-lg">
                <div class="h-full overflow-y-auto px-7">
                    <table class="min-w-full">
                        <thead class="bg-white sticky top-0">
                            <tr class="border-b border-darkBlue-900">
                                <th class="text-left px-5 py-2">ID</th>
                                <th class="text-left px-5 py-2">Nome</th>
                                <th class="text-left px-5 py-2">Sala</th>
                                <th class="text-left px-5 py-2">Criador</th>
                                <th class="text-left px-5 py-2">Horário</th>
                                <th class="text-left px-5 py-2">Data</th>
                                <th class="text-left px-5 py-2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for agendamento in agendamentos %}
                            <tr class=" border-b border-white hover:bg-blue-900 hover:text-white">
                                <td class="px-5 py-2">{{ agendamento.codigo_agendamento }}</td>
                                <td class="px-5 py-2 cursor-pointer hover:underline"
                                    onclick="abrirDetalhesAgendamento('{{ agendamento.id }}')"
                                    data-id="{{ agendamento.id }}">
                                    {{ agendamento.nome }}
                                </td>
                                <td class="px-5 py-2">{{ agendamento.sala }}</td>
                                <td class="px-5 py-2">{{ agendamento.criador }}</td>
                                <td class="px-5 py-2">{{ agendamento.hora_inicio }}</td>
                                <td class="pl-5 py-2">{{ agendamento.data|date:"d/m/Y" }}</td>
                                <td class="px-5 py-2 flex gap-2 justify-center">
                                <td class="px-5 py-2 flex gap-2 justify-center">
                                    <button onclick="abrirModalEditar('{{ agendamento.id }}')"
                                        class="flex items-center p-2 rounded-full text-darkBlue-900 hover:bg-blue-100 transition">
                                        <span class="w-4 h-4 bg-current mask-edit"></span>
                                    </button>

                                    <button onclick="abrirModalExcluir('{{ agendamento.id }}')"
                                        class="flex items-center p-2 rounded-full text-red-900 hover:bg-red-100 transition">
                                        <span class="w-4 h-4 bg-current mask-delete"></span>
                                    </button>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6" class="px-4 py-2 text-center">Nenhum agendamento encontrado.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

        <div id="modalExcluir" 
     class="hidden fixed inset-0 z-50 items-center justify-center transition-opacity duration-300 opacity-0"
     style="background-color: rgba(255,255,255,0.08); -webkit-backdrop-filter: blur(8px); backdrop-filter: blur(8px);">
    
    <div class="bg-white rounded-lg p-6 w-1/3 shadow-2xl text-center transform scale-100 transition-all">
        <h3 class="text-lg font-semibold mb-4 text-darkBlue-900">Excluir Agendamento</h3>
        <p class="mb-6 text-gray-600">Tem certeza que deseja excluir este agendamento? Essa ação não pode ser desfeita.</p>
        
        <input type="hidden" id="idExcluir">
        
        <div class="flex justify-center gap-4">
            <button onclick="fecharModalExcluir()" 
                    class="px-4 py-2 bg-gray-200 text-gray-800 rounded hover:bg-gray-300 transition">
                Cancelar
            </button>
            <button onclick="confirmarExclusao()" 
                    class="px-4 py-2 bg-red-600 hover:bg-red-700 text-white rounded transition">
                Excluir
            </button>
        </div>
    </div>
</div>

    <div id="modalDetalhes" 
         class="hidden fixed inset-0 z-50 items-center justify-center transition-opacity duration-300 opacity-0"
         style="background-color: rgba(255,255,255,0.08); -webkit-backdrop-filter: blur(8px); backdrop-filter: blur(8px);">
        <div id="conteudoModalDetalhes" 
             class="bg-white rounded-2xl shadow-2xl w-full max-w-lg p-8 relative transform scale-100 transition-all">
             </div>
    </div>

    <script>
        const urlDetalhesAgendamentoBase = "{% url 'detalhes_agendamento' 0 %}".replace('0/', '');
    </script>

    <script src="{% static 'js/modal_agendamento.js' %}" defer></script>
    <script src="{% static 'js/modal_editar.js' %}" defer></script>
    <script src="{% static 'js/modal_detalhes.js' %}" defer></script>
    <script src="{% static 'js/modal_excluir.js' %}" defer></script>
</div>
{% endblock %}