{% extends 'admin/index_adm.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Usuários{% endblock %}

{% block content %}
<div class="w-full ">
    <div class="content-center-space" style="min-height: calc(100vh - 25rem - 96px); display:flex; align-items:start; justify-content:center; flex-direction:column; padding:1rem 0;">
        <h2 class="-mb-1 text-heading-h3">Usuários</h2>
        <p class="-mt-1 text-heading-h5">Gerencie aqui todos os usuários!</p>
    </div>

    <div id="modalDetalhes" class="hidden fixed inset-0 bg-black bg-opacity-50 backdrop-blur-sm  items-center justify-center z-50">
</div>

    <!-- painel fixo no fim da página com altura específica (ajuste h-96 conforme necessário) -->
    <div id="agendamentosPanel" class="fixed left-0 right-0 bottom-0 px-20 z-40">
        <div class="mx-auto w-full  bg-blue-0 rounded-t-xl shadow-lg flex flex-col overflow-hidden " style=" height:28rem; ">
            <!-- barra de pesquisa / filtro / botão: não rola -->
            <div class="px-4 py-3 flex items-center gap-4 flex-none">
                <form class="flex w-full items-center justify-between" method="get" >
                    <div class="relative w-3/4">
                        <span class="absolute left-3 top-1/2 -translate-y-1/2 w-4 h-4 bg-current opacity-30 mask-busca text-darkBlue-900"></span>
                        <input type="text" name="busca" value="{{ busca }}" placeholder="Pesquisar Usuários"
                            class="bg-white rounded-md pl-9 pr-3 py-1 w-full text-darkBlue-900 focus:outline-none">
                    </div>
                    <div class="flex items-center ml-4 relative">
                        <span class="absolute left-3 top-1/2 -translate-y-1/2 w-4 h-4 bg-current mask-filtro text-darkBlue-900"></span>

                        <select id="ordenar_por" name="ordenar_por" onchange="this.form.submit()" class="appearance-none bg-white rounded-md pl-9 pr-3 py-1">
                            <option disabled selected hidden>Filtrar</option>
                            <option value="id" {% if ordenar_por == 'id' %}selected{% endif %}>ID</option>
                            <option value="nome" {% if ordenar_por == 'nome' %}selected{% endif %}>Nome</option>
                            <option value="tipo" {% if ordenar_por == 'tipo' %}selected{% endif %}>Tipo</option>
                            <option value="cargo" {% if ordenar_por == 'cargo' %}selected{% endif %}>Cargo</option>
                        </select>
                        {% if ordenar_por %}
                            <a id="limparFiltro"
                               class="ml-2 px-3 py-1 bg-gray-200 text-gray-800 rounded-md hover:bg-gray-300 transition-colors duration-200"
                               href="?{% if busca %}busca={{ busca|urlencode }}{% endif %}">
                                Limpar
                            </a>
                        {% endif %}
                        <button type="button" id="abrirModal_usuario"
                            class="flex items-center gap-2 ml-3 px-3 py-1 bg-blue-900 text-white rounded-md hover:bg-blue-700 transition-colors duration-200">
                            <span class="w-4 h-4 bg-current mask-add"></span>
                            Novo Usuário
                        </button>
                    </div>
                </form>
            </div>

            <!-- container da tabela com scroll interno -->
            <div class="flex-1 bg-white rounded-t-xl" style="overflow:visible;">
                <div class="h-full overflow-y-auto px-7">
                    <table class="min-w-full" >
                        <thead class="bg-white sticky top-0 px-2">
                            <tr class=" border-b border-darkBlue-900 ">
                                <th class="text-left px-5 py-2">ID</th>
                                <th class="text-left px-5 py-2">Nome</th>
                                <th class="text-left px-5 py-2">Tipo</th>
                                <th class="text-left px-5 py-2">Cargo</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for usuario in usuarios %}
                            <tr class=" hover:bg-blue-800 hover:text-white">
                                <td class="px-5 py-2 ">{{ usuario.id }}</td>
                                <td class="px-5 py-2 cursor-pointer hover:underline "
                                    onclick="abrirDetalhesUsuario('{{ usuario.username }}')"
                                    data-id="{{ usuario.username }}">
                                    {{ usuario.username }}
                                </td>
                                <td class="px-5 py-2">{{ usuario.tipo_usuario }}</td>
                                <td class="px-5 py-2">{{ usuario.cargo }}</td>
                                <td class="px-5 py-2 flex gap-2 itens-start rounded-r-xl">
                                <button onclick="abrirModalEditar('{{ usuario.id }}')" 
                                    class="flex items-center py-2 rounded-full text-darkBlue-900 transition"></button>
                                    <span class="w-4 h-4 bg-current mask-edit"></span>
                                </button>
                                <button onclick="abrirModalExcluir('{{ usuario.id }}')"
                                    class="flex items-center py-2 rounded-full text-darkBlue-900  transition"></button>
                                    <span class="w-4 h-4 bg-current mask-delete"></span>
                                </button>
                            </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6" class="px-4 py-2 text-center">Nenhum usuário encontrado.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
   
    <div id="modalUsuario"
        class=" hidden fixed inset-0 z-50  items-center justify-center transition-opacity duration-300 opacity-0"
        style="background-color: rgba(255,255,255,0.08); -webkit-backdrop-filter: blur(8px); backdrop-filter: blur(8px);">
        <div id="modalContent" class="bg-white rounded-2xl shadow-2xl w-full max-w-lg p-8 relative transform scale-95 transition-all duration-300">   
        <!-- Fechar -->
            <button id="fecharModalUsuario" class="absolute top-3 right-3 text-gray-500 hover:text-gray-800 text-xl">✕</button>

            <h2 class="text-2xl font-semibold text-darkBlue-900 mb-6 text-center">Novo usuário</h2>

            <form id="formUsuario" method="POST" data-create-url="{% url 'criar_usuario' %}" class="flex flex-col gap-4">
        {% csrf_token %}
        <p id="form-error-global" class="text-red-500 text-sm"></p>

        <div class="grid grid-cols-2 gap-4">
            <!-- Primeira linha -->
            <div>
                <label class="block text-sm font-medium text-gray-700 mb-1">Primeiro Nome</label>
                {{ form.first_name|add_class:"w-full border border-gray-300 rounded-lg focus:ring-darkBlue-900 focus:border-darkBlue-900 px-3 py-2" }}
                <p class="field-error text-red-500 text-xs mt-1" data-field="first_name"></p>
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700 mb-1">Sobrenome</label>
                {{ form.last_name|add_class:"w-full border border-gray-300 rounded-lg focus:ring-darkBlue-900 focus:border-darkBlue-900 px-3 py-2" }}
                <p class="field-error text-red-500 text-xs mt-1" data-field="last_name"></p>
            </div>

            <!-- Segunda linha -->
            <div>
                <label class="block text-sm font-medium text-gray-700 mb-1">Nome de Usuário</label>
                {{ form.username|add_class:"w-full border border-gray-300 rounded-lg focus:ring-darkBlue-900 focus:border-darkBlue-900 px-3 py-2" }}
                <p class="field-error text-red-500 text-xs mt-1" data-field="username"></p>
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700 mb-1">Email</label>
                {{ form.email|add_class:"w-full border border-gray-300 rounded-lg focus:ring-darkBlue-900 focus:border-darkBlue-900 px-3 py-2" }}
                <p class="field-error text-red-500 text-xs mt-1" data-field="email"></p>
            </div>

            <!-- Terceira linha -->
            <div>
                <label class="block text-sm font-medium text-gray-700 mb-1">Cargo</label>
                {{ form.cargo|add_class:"w-full border border-gray-300 rounded-lg focus:ring-darkBlue-900 focus:border-darkBlue-900 px-3 py-2" }}
                <p class="field-error text-red-500 text-xs mt-1" data-field="cargo"></p>
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700 mb-1">Tipo de Usuário</label>
                {{ form.tipo_usuario|add_class:"w-full border border-gray-300 rounded-lg focus:ring-darkBlue-900 focus:border-darkBlue-900 px-3 py-2" }}
                <p class="field-error text-red-500 text-xs mt-1" data-field="tipo_usuario"></p>
            </div>

            <!-- Quarta linha -->
            <div>
                <label class="block text-sm font-medium text-gray-700 mb-1">Senha</label>
                {{ form.password1|add_class:"w-full border border-gray-300 rounded-lg focus:ring-darkBlue-900 focus:border-darkBlue-900 px-3 py-2" }}
                <p class="field-error text-red-500 text-xs mt-1" data-field="password1"></p>
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700 mb-1">Confirmar Senha</label>
                {{ form.password2|add_class:"w-full border border-gray-300 rounded-lg focus:ring-darkBlue-900 focus:border-darkBlue-900 px-3 py-2" }}
                <p class="field-error text-red-500 text-xs mt-1" data-field="password2"></p>
            </div>
        </div>

        <!-- Botões -->
        <div class="flex justify-end gap-3 mt-6">
            <button type="button" id="cancelarBtnUsuario"
                class="px-4 py-2 bg-gray-200 text-gray-800 rounded-lg hover:bg-gray-300 transition">
                Cancelar
            </button>
            <button type="submit" id="submitBtnUsuario"
                class="px-4 py-2 bg-darkBlue-900 text-white rounded-lg hover:bg-blue-800 transition">
                Salvar
            </button>
        </div>
    </form>
        </div>
    </div>

<script src="{% static 'js/novo_usuario.js' %}" defer></script>
</div>
{% endblock %}